body {
	text-align: center;
	margin: 0 auto;
	background: url("../images/dna-bg.png") scroll 50% 0;
}

main {
	margin: 95px auto 0;
	width: 80%;
}

#form-section {
	margin-top: 50px;
}

#form-section form {
	margin: 0 auto;
	width: 400px;
}

form .dna-label {
	padding-bottom: 5px;
}

table {	
	width: 100%;
}

thead {
	background: #E8EAEB none no-repeat 0 0;
	background: -webkit-linear-gradient(#E8EAEB, #EDEDED);	
	background: linear-gradient(#E8EAEB, #EDEDED);
}

th {
	border: 1px solid #D5D5D5; 
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 1px 1px 1px #FFFFFF;
	padding: 15px 5px 10px 5px;
	color: #333;
	white-space: nowrap;
}

tbody tr {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;	
	color: #000;
}

tbody tr:nth-child(odd) { background-color: #FFF; }

tbody tr:nth-child(even) {	
	background: #F6F6F6 none no-repeat 0 0;
	background: -webkit-linear-gradient(#F6F6F6, #F1F1F1);	
	background: linear-gradient(#F6F6F6, #F1F1F1);
}

tbody tr:hover {
	background: #404040 none no-repeat 0 0;
	color: #f6f6e8;
	cursor: pointer;
}

td {
	text-align: center;
	border-bottom: 1px solid #D5D5D5;
	border-right: 1px solid #D5D5D5;
	padding: 7px 10px;
}

td:first-child { border-left: 1px solid #D5D5D5; }

#table-section {
	margin-top: 130px;
}

#table-section h2 {
	margin-bottom: 30px;
}

#chart-container {
	margin-top: 35px;
}